<table id="datatable-default" class="table display responsive nowrap">
    <thead>
                            
      <tr>
        <th>Date</th>
        <th>MTCN</th>
        <th>Motif</th>
        <th>Montant TTC</th>
        <th>Devise</th>
        <th>Expéditeur</th>
        <th>Bénéficiaire</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
                    
      </thead>
      <tbody >
                     
        <% @transferts.each do |transfert| %>
      <tr>
        <td><%= transfert.created_at.strftime("%d/%m/%Y") %></td>
        <td><strong><%= transfert.mtcn %></strong></td>
        <td><%= transfert.reason %></td>
        <td><%= number_to_currency transfert.amount_incl_tax, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= transfert.currency.iso_code %></td>
        <td><%= "#{transfert.sender_name} #{transfert.sender_first_name}"  %></td>
        <td><%= "#{transfert.beneficiary_name} #{transfert.beneficiary_first_name}" %></td>     
        <td><%= transfert.status %></td>
        <td>
      <div class="action-buttons">
      



<%= link_to raw('<i class="fas fa-sign-out-alt"></i>
'), new_withdrawal_path(transfert: transfert), remote: true, title: "Retrait", class: "delete" %>
</div>
</td>
      </tr>
    <% end %>

    </tbody>
    <tfoot class="tfooter">
        
      
    </tfoot>
</table>


  <div id="withdrawal-modal" class="c-modal modal fade" data-backdrop="static"></div>
                 