<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">

       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->


        <li class="br-menu-item">
          <%= link_to  raw('<i class="fas fa-sign-in-alt tx-20"></i> <span class="menu-item-label">Dépôts</span>'), root_path, class: "br-menu-link #{current? "active", root_path}" %>
        </li><!-- br-menu-item -->
        

       

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fas fa-sign-out-alt tx-20"></i> <span class="menu-item-label">Retraits</span>'), root_path, class: "br-menu-link #{current? "active", root_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fas fa-exchange-alt tx-20"></i> <span class="menu-item-label">Transferts</span>'), root_path, class: "br-menu-link #{current? "active", root_path}" %>
        </li><!-- br-menu-item -->


            

        
        

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
           <i class="fas fa-table tx-20"></i>
            <span class="menu-item-label">Journaux</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">

            <li class="sub-item">
                <%= link_to  "En attente de prélèvements", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Demandes d'analyse", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Analyses", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Catégories d'analyse", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Échantillons d'analyse", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Méthodes d'analyse", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>
          </ul>
        </li>


       
        


      

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cog tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">

            <li class="sub-item">
                <%= link_to  "Fonctionalités", features_path, class: "sub-link #{current? "active", features_path}" %>
            </li>
            
            <li class="sub-item">
                <%= link_to  "Rôles", roles_path, class: "sub-link #{current? "active", roles_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Droits d'accès", permissions_path, class: "sub-link #{current? "active", permissions_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_accounts_path, class: "sub-link #{current? "active", all_accounts_path}" %>
            </li>

           

            


          </ul>
        </li>


       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->