<% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= transfer.mtcn %></td>
        <td><%= transfer.transfer_reason.name %></td>
       
        <td><%= "#{transfer.sender_last_name} #{transfer.sender_first_name}"  %></td>
      
        
        <td><%= "#{transfer.beneficiary_last_name} #{transfer.beneficiary_first_name}" %></td>
       
        <td><%= "#{number_to_currency transfer.amount_incl_tax, unit: "", seperator: ",", delimiter: " "}" "#{transfer.transfer_currency.iso_code }" %></td>
        <td><span class="transfer_status_<%= transfer.status.parameterize %>"><%= transfer.status %></span></td>
        <td>
      <div class="action-buttons">
      <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_transfer_path(transfer), title: "Modifier", remote: true %>

 <%= link_to raw('<i class="fa fa-eye" aria-hidden="true"></i>
'), show_transfer_path(transfer), title: "Voir", remote: false %>


<% if unconfirmed_transfer?(transfer) %>
    <% if can? :destroy, Transfer %>
        <%= link_to raw('<i class="fa fa-ban" aria-hidden="true"></i>
    '), get_cancel_transfer_path(uid: transfer.uid), remote: true, title: "Annuler", class: "delete" %>
    <% end %>

<% end %>

<!-- link_to raw('<i class="far fa-trash-alt" aria-hidden="true"></i>
'), transfer_delete_path(transfer), remote: true, title: "Supprimer", class: "delete" -->
</div>
</td>
      </tr>
    <% end %>