
<div class="br-pagebody mg-b-30 mg-t-80">
  <div class="br-section-wrapper">

   
    
    <div id="invoice-box" class="invoice-box mt-30 mb-30">
        
        <table cellpadding="0" cellspacing="0">
            <tr >
                <td >
                    <table>
                        <tr>
                            <td class="title">
                              <div class="invoice-logo">
                                    
                                    <img src="<%= image_url 'logo/kcs.png' %>" >
                                </div>
                            </td>
                            
                            <td>
                                <b class="invoice-title">BORDERAU D'ENVOI N°: <%= @transfer.uid %></b><br>
                                Crée le: <%= "#{@transfer.created_at.strftime("%d/%m/%Y")} à #{@transfer.created_at.strftime("%H:%M:%S")}"   %> <br>
                                
                                
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information details mt-30 mb-30">
                <td>
                    <table>
                        <tr>

                            <td>
                                <table>
                                    <tr>
                                        <p>
                                            <b>
                                                EXPÉDITEUR/SENDER : <%= @transfer.sender_full_name %> <br />
                                            </b>
                                  
                                            Adresse:<br/>

                                            Téléphone: <b><%= @transfer.sender_phone %></b><br/>
                                            Pièce d'identité: <b><%= @transfer.sender_identity_document_type.name %></b><br/>
                                            N°: <b><%= @transfer.sender_identity_document_code %></b><br/>
                                        </p>
                                    </tr>
                                    
                                    <tr>
                                        <hr />
                                        <p>
                                        <b>
                                            BÉNÉFICIAIRE/RECEIVER : <b><%= @transfer.beneficiary_full_name %></b> <br />
                                        </b>
                                  
                                        Adresse:<br/>

                                        Téléphone: <b><%= @transfer.beneficiary_phone %></b><br/>
                                        </p>
                                    </tr>
                                </table>
                            </td>
                            
                            <td>
                                <p>
                                    <div class="mtcn-code">
                                        <b><center>MTCN <%= @transfer.mtcn %></center></b>
                                    </div>
                                </p>
                              <p>
                              Date et heure: <strong><%= @transfer.created_at %></strong> <br />
                              Agent: <b><%= @transfer.account.login %></b> <br />
                              Destination: <b><%= @transfer.beneficiary_country.name %> </b><br />
                              </p>
                              Montant TTC envoyé: <b><%= "#{number_to_currency @transfer.amount_incl_tax, unit: "", seperator: ",", delimiter: " "} #{@transfer.transfer_currency.iso_code} " %> </b><br />

                              Montant TTC retrait: <b><%= "#{number_to_currency @transfer.amount_incl_tax, unit: "", seperator: ",", delimiter: " "} #{@transfer.withdrawal_currency.iso_code} " %> </b><br />
                              
                              <!--Taxe: <b>0.0</b> <br /> -->
                              
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

           

            <tr class="signature">
                <table>
                    <tr>
                        <td>
                            <br />
                            <br />
                            <br />
                            <b>Signature du client</b>
                            <br />
                            <br />
                            <br />
                        </td>
                        <td>
                            <br />
                            <br />
                            <br />
                            <b>Signature de l'agent</b>
                            <br />
                            <br />
                            <br />

                        </td>
                    </tr>
                </table>
            </tr>
            
           
           
            
            
        </table>
    </div>

    </div>

    </div>
    
   